@font-face {
  font-family: LeagueSpartan;
  src: url("../assets/font/LeagueSpartan-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: LeagueSpartan;
  src: url("../assets/font/LeagueSpartan-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: LeagueSpartan;
  src: url("../assets/font/LeagueSpartan-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: LeagueSpartan;
  src: url("../assets/font/LeagueSpartan-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
