@use "../../styles/reset";
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.workouts {
  padding: 0.5rem 2rem;

  @include tablet {
    padding: 0 4rem;
  }

  @include desktop {
    padding: 3rem 13rem;
  }

  &__header {
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  &__selected {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  &__upcoming {
    &-container {
      display: flex;

      gap: 1rem;
      font-size: 1.6rem;
      padding-top: 1rem;
    }
  }

  &__legday {
    display: flex;
    padding-bottom: 1rem;
    gap: 1rem;
    &-container {
      display: flex;
      flex-direction: column;
    }
  }
}
