@use "../../styles/reset";
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.user {
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;

  @include tablet {
    // padding: 0 4rem;
  }

  @include desktop {
    padding-top: 6rem 4rem;
  }

  &__title {
    padding: 1rem 13rem;
    font-size: 4rem;
  }

  &__next-event {
    padding: 0 13rem;
    font-size: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 1.6rem;

    &-label {
      padding: 0.4rem 0;
    }

    &-input {
      width: 100%;
      padding: 1rem 0;
      margin-bottom: 0.5rem;
    }

    &-btns {
      display: flex;
      padding-top: 1rem;
      gap: 2rem;
      justify-content: right;
    }
    &-btn {
      text-decoration: none;
      color: black;
    }
    &-btn:hover {
      border-bottom: 2px solid purple;
    }

    &-remember {
      display: flex;
      gap: 1rem;
    }
  }
}
