.registration {
  //   display: flex;

  &__form {
    display: flex;
    flex-direction: column;
    &-btns {
      display: flex;
      //   justify-content: space-between;
      padding-top: 2rem;
    }
    &-btn {
      text-decoration: none;
      color: black;
    }
    &-btn:hover {
      border-bottom: 2px solid purple;
    }
  }
}
