@use "./styles/reset";
@use "./styles/mixins" as *;
@use "./styles/variables" as *;

.main {
  background-color: $primary-background-colour;
  padding: 0.5rem 2rem;

  @include tablet {
    padding: 0 4rem;
  }

  @include desktop {
    padding: 0 8rem;
  }
}
